* {
    margin: 0;
    padding: 0;

}

body {
    background-color: #faf6f6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;

}
.container {
    margin: auto;
    width: 1200px;
    margin-top: 20px;
    padding: 10px;
    margin-left: 5px;

}

button{
    width: 15%;
    height: 30px;
    border: 3px solid #ddd;
    background-color: #2a578b;
    color: #fff;
    cursor: pointer;

}
section{
        width: 870px; 
        height: 500px;
        margin-left: 3px;
        float: left;
        background-color: #dbf1d5;
        border: 3px solid #050404;
      
    }



